.educa{
    width:100%;
    background-color:#2d545e;
    height:350px;
}

@media screen and (max-width:400px) {
    .educa{
        height:620px;
    }
}

#secofedu{
    text-align:center;
    color:black;
    font-weight:500;
    font-size:25px;
}


.edusmall{
    width:40%;
    height:250px;
    margin-top:20px;
    margin-left:100px;
    box-shadow:5px 3px 5px rgb(255, 255, 255);
    background-color:rgba(120, 244, 166, 0.6);
    border-radius:20px;
    float:left;
}


@media screen and (max-width:400px) {
    .edusmall{
    width:90%;
    margin-left:20px;
    }
    
}

#instu{
    font-size:25px;
    color:rgb(255, 33, 33);
    font-weight: bold;
    margin-left:10px;
    margin-top:16px;
}

#collage{
    font-size:25px;
    margin-left:10px;
    margin-top:16px
}

#year{
    font-size:25px;
    margin-left:10px;
    margin-top:16px  
}

#percent{
    font-size:25px;
    margin-left:10px;
    margin-top:16px
}

