.container-exe{
    width:70%;
    margin:auto;
    background-color:#2d545e;
    height:600px;
}

@media screen and (max-width:400px) {
    .container-exe{
        width:100%;
        height:1000px;
        background-color:2d545e;
    }
}

#exhead{
    text-align:center;
    font-size:25px;
    color:black;
    font-weight:700;
}

@media screen and (max-width:400px) {
    #exhead{
        font-size:20px;
        padding-top:20px;
    }
    
}

.excard{
    width:400px;
    float: left;
    margin-top:50px;
    border-radius:15px;
    margin-left:50px;
    height:450px;
    background-color:rgb(0, 0, 0);
}

.excard:hover{
    color:rgb(3, 248, 248);
    background-color:hsl(187, 91%, 35%);
    scale:1.05;
}

@media screen and (max-width:400px) {
    .excard{
    background-color:black;
    }
    
}

@media screen and (max-width:400px) {
    .excard{
        width:340px;
        height:400px;
        margin-top:30px;
        margin-left:20px;
    }
}


#heading-role{
    text-align: center;
    font-size:25px;
    color:white;
    margin-top:5px;
}

#para-bio{
    font-size:22px;
    text-align:center;
    margin-top:15px;
    padding-top:10px;
    color:white;
}

#btnpdf{
    margin-top:50px;
    background-color:rgb(255, 130, 130);
    margin-left:100px;
    padding:10px 25px 10px 25px;
    border-radius:15px;
}

@media screen and (max-width:400px) {
    #btnpdf{
    margin-left:70px;
    background-color:rgba(244, 94, 189, 0.97);
    color:yellow;
    }
    
}

#heading-role2{
    text-align:center;
    margin-top:60px;
    font-size:22px;
    font-weight:700;
    color:rgb(0, 60, 255);
}


@media screen and (max-width:400px) {
    #heading-role2{
    font-size:17px;
    color:rgb(241, 3, 3)(201, 10, 10);
    }
    
}


#paro-bio2{
    text-align: center;
    margin-left:30px;
    margin-right:30px;
    margin-top:30px;
    color:white;
    font-size:20px;
}

@media screen and (max-width:400px) {
    #paro-bio2{
        font-size:18px;
    }
    
}